@tailwind base;
@tailwind components;
@tailwind utilities;

.type {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(20, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
